<h2><%= @name %> さま</h2>

<p><%= @greeting %>, find me in app/views/welcome_mailer/send_when_signup.html.erb</p>
<p>この度は、post shareへのご登録ありがとうございました。</p>

<p>今後とも、post share をよろしくお願いいたします。</p>

<p>post share</p>
